%h1 CSS sprite demo

%ul.address
  %li
    .icons-home
    = zh_lorem_name
  %li
    .icons-calendar
    = lorem_date
  %li
    .icons-email
    = lorem_email
  %li
    .icons-phone
    = "12341234"
  %li
    .icons-tag
    = lorem_words 5



-# %ul.address
-#   %li
-#     .icons-home
-#     = zh_lorem_sentence
-#   %li
-#     .icons-email
-#     = lorem_email
-#   %li
-#     .icons-calendar
-#     = lorem_date

-# .folder_name-icon_name
